<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commentaire</title>
    <link rel="stylesheet" href="css/style-commentaire.css">
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <div class="user-icon">
                <img src="images/sdf100So.svg" height="150px" width="180px">
            </div>
    <h1>Commentaire</h1>
        </div>
    </div>
</body>
</html>