<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDF - Confirmation</title>
    <link rel="stylesheet" href="css/style-confirmation.css">
    <script src="js/script-showpassword.js"></script>

    <!-- BIBLIOTHEQUES -->
</head>
<body>

      <h1>Ohhhhh bienvenue dans la famille, tu es bien inscrit !</h1>

      <h2><a href="connexion">Viens te connecter maintenant !</a></h2>
  
  
</body>
</html>
