<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDF - Mot de passe perdu</title>
    <link rel="stylesheet" href="css/style-mdpperdu.css">
</head>
<body>

    <div style="padding-top: 60px;"></div>

    <div class="container">
        <div class="login-box">
            <div class="user-icon">
                <img src="images/sdf100So.svg" height="150px" width="180px">
            </div>
            <h1>Alors nullos on a perdu son mot de passe ?</h1>
            <br>
            <h3>Passe ton adresse mail pour le récuperer!</h3>
            <form class="login">
                <div class="form-group">
                    <input type="email" placeholder="Adresse e-mail" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <button class="full-btn">RÉCUPÈRE TON MOT DE PASSE</button>
                </div>
                <div class="form-group">
                    <h2><a href="index.html" class="return">Retour à l'accueil </a></h2>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
