<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style-mdpperdu.css">
</head>

<body>
  <div class="container">
    <div class="mdp-box"> 
    <h1 class="title">Alors on a perdu son mot de passe ? </h1>
    <h1 class="message">Passe ton adresse mail pour le récupérer! </h1>

    <div class="formgroup">
        <input type="text" placeholder="Adresse mail" id="mail" class="form-control">
    </div>
    <div class="formgroup">
        <button class="full-btn">Récupérer mon mot de passe</button>
        </div>
    </div> 
    </div> 
</body>
</html>
