<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDF - Nouveau mot de passe</title>
    <link rel="stylesheet" href="css/style-newmdp.css">
    <script src="js/script-showpassword.js"></script>
   
</head>
<body>
    <div style="padding-top: 60px;"></div>

    <div class="container">
        <div class="login-box">
            <div class="user-icon">
                <img src="images/sdf100So.svg" height="150px" width="180px">
            </div>
            <h1>NOUVEAU MOT DE PASSE</h1>
            <form class="login">
                <div class="form-group">
                    <input type="password" placeholder="Nouveau mot de passe" id="new-password" class="form-control">
                    <span class="password-toggle" onclick="togglePasswordVisibility('new-password')"></span>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Confirmer le nouveau mot de passe" id="confirm-password" class="form-control">
                    <span class="password-toggle" onclick="togglePasswordVisibility('confirm-password')"></span>
                </div>
                <div class="form-group">
                    <button class="full-btn">CHANGER LE MOT DE PASSE</button>
                </div>
                <div class="form-group">
                    <h2><a href="index.html">Retour à la page d'accueil</a></h2>
                </div>
            </form>
        </div>
    </div>


</body>
</html>
